.container{
    width: 49%;
}

.fieldsetContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 2px solid black;
}

.inputSection{
    
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    input{
        background-color: white;
        width: 100%;
        margin: auto;
    }
    textarea{
        background-color: white;
        width: 100%;
    }
    .priceInput{
        margin: 0;
        width: 20%;
    }
}

.editButton{
    background-color: darkgreen;
}